/* Login.css */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Signup.css */
.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* sidebar.css */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #f6f6f7;
  color: black;
  cursor: pointer;
  height: 100vh;
  top: 2cm;
  position: fixed;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.top {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.bar {
  display: flex;
  font-size: 20px;
  margin-left: 0px;
}
.link {
  display: flex;
  color: black;
  padding: 8px 15px;
  gap: 8px;
  transition: all 0.5s;
}
.link:hover {
  background: white;
  color: black;
  transition: all 0.5s;
}
.icon,
.text {
  font-size: 20px;
}

/* Navbar.css */
.navbar {
  background-color: #f6f6f7;
  width: 100%;
  height: 2cm;
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
h1 {
  color: black;
}
.search-box {
  width: 400px;
  height: 13px;
  display: flex;
  justify-content: space-between;
  margin-right: 500px;
  background: white;
  padding: 10px;
  border-radius: 20px;
}
.search-box input {
  margin-top: 0px;
  background: transparent;

  border: 0;
  outline: 0;
  padding: 6px;
  color: black;
}
.icon {
  margin-top: 8px;
  margin-top: 1px;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}

.hd {
  margin-left: 1rem;
}

.sell-button {
  cursor: pointer;
  color: white;
  border: 1px solid;
  border-image-slice: 0.5;
  border-width: 4px;
  border-image-source: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  text-decoration: none;
  font-weight: 600;
  padding: 5px;
  overflow: hidden;
}
.sell-button:hover {
  background-color: black;
  color: white;
  font-weight: 600;
  transform: scale(1.1);
}

/* Sellform.css */

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.cont {
  border: 1px solid black;
  padding: 10px;
  display: block;
}
img {
  width: 15rem;
  height: 15rem;
}
.head {
  font-size: 30px;
  margin-bottom: 10px;
}
h1 {
  text-align: center;
}

label {
  display: block;
  border: black;
  width: 100px;
  padding: 10px;
  border-radius: 50px;
  background-color: gray;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

form {
  margin: 20px auto;
  max-width: 1200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="number"],
form button {
  display: block;
  width: 95%;
  height: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="file"] {
  display: none;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 10rem;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li p {
  margin: 5px 0;
}

li form {
  margin-top: 10px;
}

li form button {
  background-color: #dc3545;
}

li form button:hover {
  background-color: #c82333;
}