.creator-card-body {
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  background-color: #212121;
}
.diffSection {
  text-align: center;
  padding-top: 10px;
}

/* .diffSection p {
    position: fixed;
    top: -100px;
  animation: transition 2s forwards;
}
@keyframes transitionIn {
    from {
      opacity: 0;
      transform: rotateX(-10deg);
      bottom: -100px;
    }
    to {
      opacity: 1;
      transform: rotateX(0);
      bottom: 0;
      position: fixed;
    }
  } */
.section-cont {
  height: 100vh;
  background-color: #212121;
  }
.section-title {
  font-size: 90px;
  height: 90vh;
  position: relative;
  top: -500px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIObrxczycyfnsE7WM9bS2Mhr5wM4iNrhDaUnOEPusiQ&s");
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
  padding: 0px;
  color: transparent;
  animation: transmission 2s forwards;
}
@keyframes transmission {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
    top: -500px;
  }
  to {
    opacity: 1;
    transform: rotateX(0);
    top: 0;
  }
}

.totalcard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 100vw;
  margin: 20px;
  padding: 20px;
  height: 100vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: #f9f9f9;
}

.cre-pic {
  width: 50%;
  border-radius: 50px;
}
.cre-cont {
  width: 50%;
}

.cre-cont .par {
  font-size: 1.5rem;
  color: #333;
  font-family: cursive;
  font-weight: 600;
  border: 2px solid #666;
  padding: 5px;
  width: max-content;
}

.card img {
  width: 100%;
  height: 120%;
  border-radius: 30px;
}

.card img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.02);
  filter: drop-shadow(10px 7px 10px #f5c689);
}

.card-title {
  margin-top: 10px;
  font-size: 1.8rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}

.linke {
  font-weight: 200;
  font-family: fantasy;
  font-size: 1.1rem;
}

.detail p {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #333;
  font-family: sans-serif;
  font-weight: 300;
  text-align: left;
  padding: 20px;
}
