@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
/* Primary */

:root {
  --pale_blue: hsl(225, 100%, 94%);
  --bright_blue: hsl(245, 75%, 52%);
  --very_pale_blue: hsl(225, 100%, 98%);
  --desaturated_blue: hsl(224, 24%, 63%);
  --dark_blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--pale_blue);
}

.pcontainer {
  background-color: #fff;
  width: 450px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px var(--desaturated_blue);
  position: relative;
  top: -50%;
  left: 50%;
  margin-top: 30%;
  transform: translate(-50%, -50%);
}

.img {
  text-align: center; /* Center the image horizontally */
  margin-bottom: 20px; /* Add space between the image and the pcontainer */
}

.img img {
  max-width: 100%; /* Ensure the image does not exceed its container's width */
}


#p1 {
  font-size: 25px;
  font-weight: 900;
  color: var(--dark_blue);
  text-align: center;
  margin-top: 10px;
}

#btn1 {
  background-color: var(--bright_blue);
  padding: 20px;
  justify-content: center;
  width: 80%;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 50px;
  color: var(--pale_blue);
  font-weight: 700;
  display: flex;
  box-shadow: 0px 4px 8px var(--desaturated_blue);
  cursor: pointer;
  outline: none;
  border: none;
}

.container .plane {
  width: 80%;
  height: auto;
  margin-top: 10px;
  display: flex;
  padding: 20px;
  background: var(--very_pale_blue);
  border-radius: 10px;
  margin-left: 50px;
}

.container .plane span {
  color: var(--desaturated_blue);
}

#p2 {
  color: var(--dark_blue);
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
  margin-left: 20px;
}

#p4 {
  color: var(--desaturated_blue);
  padding: 30px;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
}

#btn2 {
  padding-bottom: 50px;
  padding-top: 20px;
  justify-content: center;
  width: 80%;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 50px;
  color: var(--desaturated_blue);
  font-weight: 700;
  display: flex;
  cursor: pointer;
  background-color: #fff;
  border: none;
  outline: none;
}

#btn1:hover {
  background: #6563d3;
  transition: 0.5s;
}

#btn2:hover {
  color: var(--dark_blue);
  transition: 0.5s;
}

#change {
  color: var(--dark_blue);
  margin-left: 50px;
  margin-top: 20px;
}

#change:hover {
  color: var(--bright_blue);
  text-decoration: none;
  transition: 0.5s;
}

#div {
  margin-bottom: 50px;
}

/* Responsive styles for smaller screens */
