body{
  display: block;
}

.pre-page {
  width: 100%;
  height: 100vh;
}

video {
  width: 99vw;
  height: 99vh;
  object-fit: cover;
}
.content {
  position: absolute;
  width: 99vw;
  height: 99vh;
  top: 0;
  right: 30px;
  display: flex;
  align-items: end;
  justify-content: right;
  color: #fff;
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.content p {
  border: 1px solid white;
  padding: 10px;
  font-size: 30px;
  position: fixed;
  bottom: -100px;
  border-radius: 15px;
  cursor: pointer;

  animation: transitionIn 2s forwards;
  animation-delay: 5s;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
    bottom: -100px;
  }
  to {
    opacity: 1;
    transform: rotateX(0);
    bottom: 0;
    position: fixed;
  }
}
.content p:hover {
  box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff;
  background-color: #ffffff;
}
.content a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}
.content a:hover {
  color: #212121;
  font-weight: 500;
}
