/* .sell-body {
  display: block;
  background-color: #212121;
}
.cont {
  border: 1px ;
  padding: 10px;
  display: block;
}
img {
  width: 15rem;
  height: 15rem;
}
.head {
  font-size: 30px;
  margin-bottom: 10px;
}
.chi-cont h1 {
  text-align: center;
  color: #ffffff;
}

.cont label {
  display: block;
  border: black;
  width: 100px;
  padding: 10px;
  border-radius: 50px;
  background-color: gray;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.chi-cont form {
  margin: 20px auto;
  max-width: 1200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chi-cont form input[type="text"],
.chi-cont form input[type="number"] {
  display: block;
  width: 95%;
  height: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chi-cont input[type="file"] {
  display: none;
}

.chi-cont button {
  display: block;
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 10rem;
  height: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.cont button:hover {
  background-color: #0056b3;
} */
.sell-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 400px;
}
.chi-cont{
  display: flex;
  border-radius: 20px;
  background: white;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 700px;
  box-shadow: 5px 5px 5px 5px whitesmoke;
  
}
.divv{
  display: flex;
  flex-direction: row;
  
  justify-content: center;
}
.cont{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.cont1{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding: 20px;
  align-items: center;

  
}
#product-pic{
  width: 100px;
  height: 100px;
}
input{
  width: 200px;
  height: 40px;
  margin: 7px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
  box-shadow: 2px 2px 2px 2px whitesmoke;
}
#input-file{
  border: none;
  box-shadow: none;
}
#btn{
  background:rgb(172, 186, 236);
  width: 100px;
  height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}
select{
  width: 200px;
  height: 40px;
  margin: 7px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
  box-shadow: 2px 2px 2px 2px whitesmoke;
}