/* body {
  display: grid;
  place-items: center;
  height: 100vh;
 
} */
.signup-body{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #212121;
}
.signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.signup-container .user-box {
  position: relative;
}
.signup-container .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.signup-container .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.signup-container .user-box input:focus ~ label,
.signup-container .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}
.signup-container form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  background: rgba(24, 20, 20, 0.9);
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  letter-spacing: 4px;
}

.signup-container button:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f;
}
.signup-container button span {
  position: absolute;
  display: block;
}

@keyframes btn-anim2 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.signup-container button span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim2 2s linear infinite;
}
.signup-container p {
  color: #ffffff;
}

.signup-container a {
  text-decoration: none;
  color: #03f40f;
}
